<div class="content-wrapper">
    <form id="filterForm" method="GET" action="" class="row">
        <div class="col-md-6">
            <div class="form-inline">
                <input type="text" class="form-control w-75 border-light text-white" placeholder="Search products"
                    name="name" value="{{name}}">
                <button type="submit" class="btn btn-outline-light ml-2">Search</button>
            </div>
        </div>


        <div class="col-md-2 text-right">
            <div class="form-group">
                <select class="form-control border-light text-white" name="sortId" id="sortSelect" onchange="document.getElementById('filterForm').submit();">
                    <option value="" disabled {{#unless sortId}}selected{{/unless}}>Sort by</option>
                    <option value="1" {{#if (eq sortId 1)}}selected{{/if}}>Name</option>
                    <option value="2" {{#if (eq sortId 2) }}selected{{/if}}>Total Products</option>
                </select>
            </div>
        </div>
    </form>

    <div class="row mt-4">
        <div class="col-md-12 text-right">
            <a href="/categories/add" class="btn btn-success">
                <i class="mdi mdi-plus" style="vertical-align: middle;"></i> Add New Category
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <table class="table table-dark table-striped table-bordered text-white">
                <thead>
                    <tr>
                        <th scope="col">Category ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total products</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="products">
                    {{#each categories}}
                    <tr>
                        <td>{{categoryid}}</td>
                        <td>{{name}}</td>
                        <td>{{count}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-outline-warning">
                                <a href="/categories/{{categoryid}}" style="color: inherit; text-decoration: none;">
                                    <i class="mdi mdi-pencil" style="vertical-align: middle;"></i> Edit
                                </a>
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="7">
                            <nav aria-label="Page navigation example" class="mt-4">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item {{#unless prevPage}}disabled{{/unless}}">
                                        <a class="page-link" href="?{{#if query}}{{query}}&{{/if}}page={{prevPage}}"
                                            tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    {{#if (lte totalPages 7)}}
                                    {{#for 1 totalPages}}
                                    <li class="page-item {{#if (eq this ../curPage)}}active{{/if}}"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{this}}">{{this}}
                                        </a></li>
                                    {{/for}}
                                    {{/if}}


                                    {{#if (gte totalPages 8)}}
                                    {{#if (lte curPage 4)}}
                                    {{#for 1 5}}
                                    <li class="page-item {{#if (eq this ../curPage)}}active{{/if}}"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{this}}">{{this}}
                                        </a></li>
                                    {{/for}}
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    <li class="page-item"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{totalPages}}">{{totalPages}}
                                        </a></li>
                                    {{/if}}

                                    {{#if (gte curPage (subtract totalPages 3))}}
                                    <li class="page-item"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page=1">1
                                        </a></li>
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    {{#for (subtract totalPages 4) totalPages}}
                                    <li class="page-item {{#if (eq this ../curPage)}}active{{/if}}"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{this}}">{{this}}
                                        </a></li>
                                    {{/for}}
                                    {{/if}}

                                    {{#if (inRange curPage 5 (subtract totalPages 4))}}
                                    <li class="page-item"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page=1">1
                                        </a></li>
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    {{#for (subtract curPage 1) (add curPage 1)}}
                                    <li class="page-item {{#if (eq this ../curPage)}}active{{/if}}"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{this}}">{{this}}
                                        </a></li>
                                    {{/for}}
                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>
                                    <li class="page-item"><a class="page-link"
                                            href="?{{#if ../query}}{{../query}}&{{/if}}page={{totalPages}}">{{totalPages}}
                                        </a></li>
                                    {{/if}}

                                    {{/if}}
                                    <li class="page-item {{#unless nextPage}}disabled{{/unless}}">
                                        <a class="page-link"
                                            href="?{{#if query}}{{query}}&{{/if}}page={{nextPage}}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{#section "plugincss"}}
<style>
    .pagination .page-item .page-link {
        color: #fff;
        /* Màu chữ trắng */
        background-color: #444;
        /* Màu nền tối */
        border-color: #444;
        /* Màu viền tối */
    }

    .pagination .page-item.active .page-link {
        color: #fff;
        /* Màu chữ trắng cho trang hiện tại */
        background-color: #007bff;
        /* Màu nền xanh cho trang hiện tại */
        border-color: #007bff;
        /* Viền xanh cho trang hiện tại */
    }

    .pagination .page-item:hover .page-link {
        color: #000;
        /* Màu chữ đen khi hover */
        background-color: #f0f0f0;
        /* Nền sáng khi hover */
        border-color: #ccc;
        /* Viền sáng khi hover */
    }

    .pagination .page-item.disabled .page-link {
        color: #888;
        /* Màu chữ xám cho trạng thái disabled */
        background-color: #444;
        /* Nền xám cho trang disabled */
        border-color: #444;
        /* Viền xám cho trang disabled */
    }
</style>
{{/section}}

